// media aliases and breakpoints
$screen-sm-min: 480px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1440px;

$screen-sm-max: 767px;
$screen-md-max: 1023px;
$screen-lg-max: 1439px;

// media devices
@mixin sm {
	@media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
		@content;
	}
}

@mixin md {
	@media screen and (min-width: #{$screen-md-min}) {
		@content;
	}
}

@mixin lg {
	@media screen and (min-width: #{$screen-lg-min}) {
		@content;
	}
}

@mixin xl {
	@media screen and (min-width: #{$screen-xl-min}) {
		@content;
	}
}
