:root {
	--beige: #F9F9F9;
	--black: #212121;
	--blue: #2E3A8C;
	--border-color-primary: #B0B0B0;
	--border-color-switch-slider: #AFC6BD;
	--border-color-switch-thumb: #F2EBDB;;
	--green: #3B755F;
	--ice-white: #FFF;
	--overlay-green: #AFC6BD;
	--pastel: #F2EBDB;

	--box-shadow: 0px 42px 76px rgba(0, 0, 0, 0.05), 0px 27.2222px 44.5093px rgba(0, 0, 0, 0.037963), 0px 16.1778px 24.2074px rgba(0, 0, 0, 0.0303704), 0px 8.4px 12.35px rgba(0, 0, 0, 0.025), 0px 3.42222px 6.19259px rgba(0, 0, 0, 0.0196296), 0px 0.777778px 2.99074px rgba(0, 0, 0, 0.012037);
	--box-shadow-switch-inset: inset 0px 1.02541px 6.83608px rgba(0, 0, 0, 0.15);
	--box-shadow-switch: 0px 0px 1.36722px rgba(0, 0, 0, 0.35);
}
